VAPID_PUBLIC_KEY=sua-chave-publica-web-push
VAPID_SUBJECT=mailto:luciano.cinnamon@gmail.com
PANEL_URL=https://jazz-cinnamon-erp.web.app/painel_erp.html
GOOGLE_CALENDAR_ID=77ee282b8071d0ae9ed2cfb27ef8260acb93c76bc27dc96a2efc60cf32445e43@group.calendar.google.com
